    </main>

    <footer>
      <span>
        &copy; <%= site.author %>. Made with Metalsmith borrowing and adapting the <a href="https://github.com/chesterhow/tale/">Tale</a> theme.
      </span>
    </footer>
  </body>
</html>
